doctype html
html(lang="en").no-js
	head
		
		title PolliGrid
		meta( name="viewport" content="width=device-width, user-scalable=no")
		meta(name="keywords" content="survey polling question")
		meta(name="description" content="PolliGrid lets users to analyze people's opinions from different angles")
		meta(name="keywords" content="polling survey marketing question opinion")
		meta(name="author" content="Zhengdian ZHhan, Masanori Sen")
		meta(charset="UTF-8")
		meta(name="apple-mobile-web-app-capable" content="yes" )
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-mobile-web-app-title" content="PolliGrid")
		meta(name='apple-touch-fullscreen' content='yes')
		link(rel="apple-touch-icon" href="/icon.png")
		link(rel="icon" href="/favicon.ico" type="image/x-icon")
		link(rel='stylesheet', href='/css/main.css')
		link(rel='stylesheet', href='/vendors/offline/themes/offline-theme-chrome.css')
		link(rel='stylesheet', href='/vendors/shepherd.js/css/shepherd-theme-arrows.css')

		
		//- for development --//
		//- link(rel='stylesheet',href='/dev/bootstrap/css/bootstrap.min.css')
		//- link(rel='stylesheet',href='/dev/font-awesome-4.0.3/css/font-awesome.min.css')
		//- link(rel='stylesheet',href='/dev/animate.css')

		//- for productions -//
		link(rel='stylesheet',href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		link(rel='stylesheet',href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet',href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css')
		script(src='/js/misc/modernizr-dev.js')
		script(src='/js/misc/modernizr-test.js')
		script.
			(function(document,navigator,standalone) {
				// prevents links from apps from oppening in mobile safari
				// this javascript must be the first script in your <head>
				if ((standalone in navigator) && navigator[standalone]) {
					var curnode, location=document.location, stop=/^(a|html)$/i;
					document.addEventListener('click', function(e) {
						curnode=e.target;
						while (!(stop).test(curnode.nodeName)) {
							curnode=curnode.parentNode;
						}
						// Condidions to do this only on links to your own app
						// if you want all links, use if('href' in curnode) instead.
						if(
							'href' in curnode && // is a link
							(chref=curnode.href).replace(location.href,'').indexOf('#') && // is not an anchor
							(	!(/^[a-z\+\.\-]+:/i).test(chref) ||                       // either does not have a proper scheme (relative links)
								chref.indexOf(location.protocol+'//'+location.host)===0 ) // or is in the same protocol and domain
						) {
							e.preventDefault();
							location.href = curnode.href;
						}
					},false);
				}
			})(document,window.navigator,'standalone');
	
		
        
	body(ng-controller="MainCtrl")
		
		div( ui-view="header")

		div(ng-class="{'push-up':toggleSearchBox}").contain
			
			div(ui-view="content")
		

		//- For production -- //
		//- script(data-main="/js/main-built.js" src="/vendors/requirejs/require.js")

		//- //- For development --//
		script(data-main="/js/main.js" src="/vendors/requirejs/require.js")
		
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-51156114-1', 'jit.su');
			ga('send', 'pageview');

		
		